.venv/
env/
venv/
__pycache__/
**/__pycache__/
*.pyc
*.pyo

.git/
.github/
.idea/
.vscode/
.DS_Store

mlruns/
mlflow.db

backend/.env
.env

data/raw/
data/processed/
downloaded_data/
databricks_cli/
databricks_cli_folder/
databricks_cli.zip

docs/
*.md
!README.md
